<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="vote.directdemocracy.keystore"
        version="0.7.0">

  <name>KeyStore</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/KeyStore.js" target="js/KeyStore.js"/>

  <js-module src="www/KeyStore.js" name="keystore">
    <clobbers target="KeyStore" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="KeyStore">
        <param name="android-package" value="vote.directdemocracy.plugin.KeyStore"/>
      </feature>
    </config-file>

    <source-file src="src/android/KeyStore.java" target-dir="src/com/example/plugin/"/>
  </platform>
</plugin>
