<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="vote.directdemocracy.keystore"
        version="0.7.0">

  <name>Keystore</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/Keystore.js" target="js/Keystore.js"/>

  <js-module src="www/Keystore.js" name="keystore">
    <clobbers target="Keystore" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Keystore">
        <param name="android-package" value="vote.directdemocracy.plugin.Keystore"/>
      </feature>
    </config-file>

    <source-file src="src/android/Keystore.java" target-dir="src/com/example/plugin/"/>
  </platform>

  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="Keystore">
        <param name="browser-package" value="vote.directdemocracy.plugin.Keystore" />
      </feature>
    </config-file>

    <js-module src="src/browser/Keystore.js"
               name="Keystore">
      <runs />
    </js-module>
  </platform>

  <platform name="iOS">
    <config-file target="config.xml" parent="/*">
      <feature name="Keystore">
        <param name="iso-package" value="vote.directdemocracy.plugin.Keystore" />
      </feature>
    </config-file>
    <source-file src="src/ios/Keystore.m" />
    <header-file src="src/ios/Keystore.h" />
  </platform>
</plugin>
