<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="vote.directdemocracy.ddkeystore"
        version="0.7.0">

  <name>DdKeyStore</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/DdKeyStore.js" target="js/DdKeyStore.js"/>

  <js-module src="www/DdKeyStore.js" name="ddkeystore">
    <clobbers target="DdKeyStore" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="DdKeyStore">
        <param name="android-package" value="vote.directdemocracy.plugin.DdKeyStore"/>
      </feature>
    </config-file>

    <source-file src="src/android/DdKeyStore.java" target-dir="src/com/example/plugin/"/>
  </platform>

  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="DdKeyStore">
        <param name="browser-package" value="vote.directdemocracy.plugin.DdKeyStore" />
      </feature>
    </config-file>

    <js-module src="src/browser/DdKeyStore.js"
               name="DdKeyStore">
      <runs />
    </js-module>
  </platform>

  <platform name="iOS">
    <config-file target="config.xml" parent="/*">
      <feature name="DdKeyStore">
        <param name="iso-package" value="vote.directdemocracy.plugin.DdKeyStore" />
      </feature>
    </config-file>
    <source-file src="src/ios/DdKeyStore.m" />
    <header-file src="src/ios/DdKeyStore.h" />
  </platform>
</plugin>
